/* .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0 30px;
} */

.Projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
}

.project-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-bottom: 50px;
}

.img-section{
  width: 50%;
  height: 100%;
}

.project-section{
  width: 50%;
  height: 100%;
  text-align: start;
}
