/* Default styles for .displacement-sphere */
:root {
  --bezierFastoutSlowin: cubic-bezier(0.5, 0.33, 0.14, 0.53);
}

.displacement-sphere {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1; /* This should be a valid value, e.g., "1px" */
  opacity: 0;
  /* Replace "property-to-animate" with the actual property you want to animate */
  transition: opacity 1s var(--bezierFastoutSlowin);
  overflow: hidden;
}

/* Styles for entering and entered states */
.displacement-sphere--entering,
.displacement-sphere--entered {
  overflow-y: hidden;
  animation: opacity-anim 2s var(--bezierFastoutSlowin);
  opacity: 1;
}


@keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Media query for mobile devices */
