.catalogue-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.pdf-container {
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
}

@media screen and (max-width: 767px) {
    .catalogue-container {
        transform: scale(0.65);
        transform-origin: top center;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .catalogue-container {
        transform: scale(0.9);
        transform-origin: top center;
        margin: 0 auto;
    }
}
