:root {
    --speed: 1s;
  }


.home__titletext {
    margin-top: 4rem;
    font-size: 5rem;
    color: white;
  }

  #animtext p {
    --color: var(--red);
    color: white;
    position: relative;
    display: inline-block;
    clip-path: inset(0);
    animation-name: text-reveal, shimmy;
    animation-duration: var(--speed);
    animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
    animation-fill-mode: both;
    animation-timing-function: steps(1), ease-out;
  }

  @keyframes shimmy {
    0% {
      transform: translateX(-1ch);
    }
  }

  @keyframes text-reveal {
    0% {
      color: transparent;
    }
    50%, 100% {
      color: rgba(10, 1, 1, 0.555);
    }
  }

  #animtext p:after {
    content: "";
    position: absolute;
    inset: -20% 0;
    background-color: var(--color);
    animation-name: block-reveal;
    animation-duration: var(--speed);
    animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
    animation-fill-mode: both;
  }

  @keyframes block-reveal {
    0% {
      transform: translateX(-110%);
    }
    45%, 55% {
      transform: translateX(0);
    }
    99.9% {
      transform: translateX(100%);
      opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }

  #animtext p{
    --color: rgb(3, 219, 248);
  }