/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */

:root {
  --speed: 1s;
  --td : 0.7s;
  --d: 0.8s;
  --bc: #00e1ff;
}

.theme{
  transition: color 0.5s ease-in;
  color : var(--modeColor)
}


.home__titletext {
  margin-top: 4rem;
  font-size: 5.5rem;
}

@media (max-width: 768px) {
  .home__titletext {
    font-size: 2.5rem;
  }
}

.clock {
  position: absolute;
  top: 5%;
  left: 2%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
  letter-spacing: 7px;
  color: var(--modeColor);
  transition: color 0.5s ease-in;
}

.resume {
  position: absolute;
  bottom: 7%;
  left: 5%;
}


#animtext span {
  clip-path: inset(0);
  position: relative;
  animation-name: text-reveal, shimmy;
  animation-duration: var(--speed);
  animation-fill-mode: both;
  animation-timing-function: steps(1), ease-in-out;
}

@keyframes shimmy {
  0% {
    transform: translateX(-1ch);
  }
}

@keyframes text-reveal {
  0% {
    transform: translateX(-100px);
    color: transparent;
  }

  50%,
  100% {
    transform: translateX(0px);
  }
}

#animtext span:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: cyan;
  animation-name: block-reveal;
  animation-duration: var(--speed);
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

@keyframes block-reveal {
  0% {
    transform: translateX(-110%);
  }

  45%,
  55% {
    transform: translateX(0);
  }

  99.9% {
    transform: translateX(100%);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#animtext span {
  --color: rgb(3, 219, 248);
}

@media screen and (max-width: 768px) {
  @keyframes block-reveal {
    0% {
      transform: translateY(-110%);
    }

    45%,
    55% {
      transform: translateY(0);
    }

    99.9% {
      transform: translateY(100%);
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
