

.theme {
    color: var(--modeColor);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formplaceholder{
    width: 100%;
}

.contact {
    width: 600px;
    height: auto;
    color: var(--modeColor);
    z-index: 1;
    height: full;
    display: flex;
    flex-direction: column;
    transition: color 0.5s ease;
}

.contact_heading {
    width: auto;
}

.animatedhr {
    opacity: 0;
    margin-top: 2rem;
    max-width: 100%;
    animation: animatedrow 0.75s linear 0.5s forwards;
    border: 1px solid var(--modeColor);
    border-radius: 10px;
    transition: color 1s ease;
}


 @media (max-width: 768px) {
    .contact_heading {
        transform: scale(1);
        margin-left: 2rem;
        width: 300px;
        text-align: center;
    }
    .animatedhr {
        width: 80%;
    }
    .contact {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
} 



@keyframes animatedrow {
    0% {
        opacity: 0;
        width: 0%;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        width: 150%;
    }
}

form {
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    height: auto;
}

.animated-element {
    opacity: 0;
    transform: translateY(20px);
}

.animated-element:nth-child(1) {
    animation: element-reveal 0.5s ease-in-out 0.5s forwards;
}

.animated-element:nth-child(2) {
    animation: element-reveal 0.5s ease-in-out 1s forwards;
}

.animated-element:nth-child(3) {
    animation: element-reveal 0.5s ease-in-out 1.5s forwards;
}

@keyframes element-reveal {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-field {
    position: relative;
    line-height: 30px;
    margin-top: 2rem;
}

.inpt-2{
    margin-top: 3rem;
}

.custom-label,
.custom-label2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--modeColor);
    transition: 0.2s all;
    cursor: text;
    padding: 0;
    pointer-events: none;
    bottom: 25px;
}


.custom-label::after {
    content: "";
    position: absolute;
    bottom: -21px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--contactUnderline);
    transform: translateX(-110%);
    transition: all 0.5s ease;
}

.custom-label2::after {
    content: "";
    position: absolute;
    bottom: -21px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--contactUnderline);
    transform: translateX(-110%);
    transition: all 0.5s ease;
}

.custom-label::after{
    bottom: -25px;
}
.custom-label2::after {
    bottom: -15px;
}

.error .custom-label::after,
.error .custom-label2::after {
    border-bottom-color: red;
}

.custom-input,
.custom-input2 {
    background-color: transparent;
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    padding: 0.4rem 0;
    border-bottom: 2px solid rgba(93, 93, 93, 0.559);
    color: var(--modeColor);
    max-height: 400px;
    /* overflow: hidden; */
}
.custom-input2 {
    height: 70px;
}


.custom-input:invalid,
.custom-input2:invalid {
    outline: 0;
}

.custom-input:focus~.custom-label,
.custom-input:valid~.custom-label,
.custom-input2:focus~.custom-label2,
.custom-input2:valid~.custom-label2 {
    font-size: 14px;
    top: -25px;
    color: var(--modeColor);
}

.custom-input:focus+.custom-label::after,
.custom-input:valid+.custom-label::after,
.custom-input2:focus+.custom-label2::after,
.custom-input2:valid+.custom-label2::after {
    transform: translateX(0%);
}

.sendbutton {
    cursor: pointer;
    margin-top: 2rem;
    width: 250px;
    height: 50px;
    font-size: 1.1rem;
    background-color: transparent;
    border: 2px solid var(--modeColor);
    color: var(--modeColor);
    transition: 0.3s ease;
    transition: all 0.5s ease;
}

.sendbutton:hover {
    font-size: 1.2rem;
    color: var(--modeColor);
    scale: 1.1;
}