.navbars {
    position: fixed;
    top: -5rem;
    width: 1%;
    height: 1vh;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    transition: all 0.3s ease-in-out;
    display: none;
    color: var(--navText);
}

@media screen and (max-width: 768px) {
    .navbars {
        display: block;
    }
}
    

.navbars .nav-container li {
    list-style: none;
    z-index: -1;
}

.nav-container .checkbox {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 7rem;
    left: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 11;    
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 7rem;
    left: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--navText);
}


.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbars .menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    transform: translateY(-150%);
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
}

.navbars .menu-items li {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

@media (min-width: 1025px) {
    .navbars {
      opacity: 0;
    }
  }