.toggle {
  --size: 1.4rem;
  appearance: none;
  cursor: pointer;
  outline: none;
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  z-index: 13;
  color: var(--navText);
  transition: box-shadow 0.5s;

  &:checked {
    color: var(--navText);
    transform: scale(1);
    scale: 1;
    background:
      linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px,
      linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px,
      linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px,
      linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 10px -20px 0 0px;
    border: 6px solid transparent;

    &::after,
    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 24px;
      height: 2px;
      border-right: 4px solid;
      border-left: 4px solid;
      left: -6px;
      top: 5px;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.hovertoggle {
  cursor: pointer;
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 12;
  height: 40px;
  border-radius: 8px;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.15);
    background-color: rgba(128, 128, 128, 0.384);
  }
}