:root {
    --li-size: max(3vw, 80px);
    --spaces-size: calc(var(--icon-size)*.3);
    --indicator-border: calc(var(--icon-size)*.07);
    --bg-clr: transparent;
  }
  

  section {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 140px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-clr);
    z-index: 40;
    margin-left: 37.5%;
  }
  
  .navbar {
    display: inline-block;
  }
  
  .nav {
    padding: 0 20px;
    background-color: var(--bar-clr);
    border-radius: 10px;
  
  }
  
  .navbar .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  
  .navbar .nav ul li {
    position: relative;
    list-style: none;
    height: var(--li-size);
    aspect-ratio: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
  }
  
  .navbar .nav ul li a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
    z-index: 1;
  }
  
  .navbar .nav ul li a {
    font-size: calc(var(--li-size)*.2);
  }
  
  .indicator-parent {
    position: absolute;
    height: var(--li-size);
    aspect-ratio: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 1s linear;
    transition: -webkit-transform 1s linear;
    -o-transition: transform 1s linear;
    transition: transform 1s linear;
    transition: transform 1s linear, -webkit-transform 1s linear;
  }
  
  .indicator-parent::before,
  .indicator-parent::after {
    content: '';
    position: absolute;
    height: calc(var(--li-size)*.15);
    aspect-ratio: 1;
    top: 0;
    z-index: 1;
  }
  
  .indicator-parent::before {
    left: 0;
    -webkit-transform: translateX(-86%);
    -ms-transform: translateX(-86%);
    transform: translateX(-86%);
  
    border-top-right-radius: 100px;
  }
  
  .indicator-parent::after {
    right: 0;
    -webkit-transform: translateX(86%);
    -ms-transform: translateX(86%);
    transform: translateX(86%);
    border-top-left-radius: 100px;
  }
  
  .indicator {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: calc(var(--li-size) * .8);
    aspect-ratio: 1;
    background-color: var(--indicator-clr);
    border-radius: 100px;
    /* Half of the height for rounded bottom corners */
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.504);
  }
  
  .active {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }
  
  ul li a .text {
    -webkit-transform: translateY(250%);
    -ms-transform: translateY(250%);
    transform: translateY(170%);
    visibility: hidden;
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s;
    font-weight: 500;
    color: var(--navText);
  }
  
  ul li a .icon {
    font-size: calc(var(--li-size)*.4);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    color: var(--navIcon);
  }
  
  ul li.active .text {
    visibility: visible;
  }
  
  ul li:nth-child(1).active~.indicator-parent {
    -webkit-transform: scale(1) translateX(0%);
    -ms-transform: scale(1) translateX(0%);
    transform: scale(1) translateX(0%);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }
  
  ul li:nth-child(2).active~.indicator-parent {
    -webkit-transform: scale(1) translateX(100%);
    -ms-transform: scale(1) translateX(100%);
    transform: scale(1) translateX(100%);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }
  
  ul li:nth-child(3).active~.indicator-parent {
    -webkit-transform: scale(1) translateX(200%);
    -ms-transform: scale(1) translateX(200%);
    transform: scale(1) translateX(200%);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }
  
  ul li:nth-child(4).active~.indicator-parent {
    -webkit-transform: scale(1) translateX(300%);
    -ms-transform: scale(1) translateX(300%);
    transform: scale(1) translateX(300%);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }
  
  ul li:nth-child(5).active~.indicator-parent {
    -webkit-transform: scale(1) translateX(400%);
    -ms-transform: scale(1) translateX(400%);
    transform: scale(1) translateX(400%);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }