:root {
  --accent: #00ddff;
}

.light-mode{
  --modeColor : #000000;
  --contactUnderline : #000000;
  --bar-clr: rgba(208, 208, 208, 0.617);
  --indicator-clr: rgba(55, 55, 55, 0.365);
  --navIcon: #464646;
  --navText : #232323;
  --myFilter: invert(0);
  --techno: #464646;
  --accent: #007a99;
}

.dark-mode{
  --modeColor : #ffffff;
  --contactUnderline : #00ddff;
  --bar-clr: rgba(214, 213, 213, 0.211);
  --indicator-clr: rgba(136, 135, 135, 0.617);
  --navIcon: #fffefe9d;
  --navText : #eaeaea;
  --myFilter: invert(0.8);
  --techno: #eaeaea;
  --accent: #00ddff;
}

.App {
  text-align: center;
}
