@import './assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*{
  ::selection {
    color: rgb(6, 6, 5);
    background: rgb(15, 227, 220);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Smooth scroll offset for top navbar */
[id] {
  scroll-margin-top: 5rem;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #ffffff1e;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0000007a;
  border-radius: 20px;
}
